langchain
langchain-community
langgraph
graphviz
six==1.16.0
pyyaml==6.0.1
requests==2.31.0
fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.9.2
langchain-ollama
openai
langchain_openai
langchain_mistralai
tomli
tomli_w
blinker

# connectors
beautifulsoup4==4.12.3
feedparser==6.0.11
youtube-transcript-api
google_auth_oauthlib
google-api-python-client
arxiv
PyPDF2

# converters
piper-tts
numpy
pydub

# desktop
pywebview
chardet
nuitka

loguru==0.7.2
websockets>=10.4
