langchain
six==1.16.0
pyyaml==6.0.1
requests==2.31.0
fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.9.2
langchain-ollama
openai
langchain_openai
langchain_mistralai
tomli
tomli_w

# connectors
beautifulsoup4==4.12.3
feedparser==6.0.11
youtube-transcript-api
google-api-python-client
arxiv
PyPDF2

# converters
transformers
torch
torchaudio
numpy
pydub

# desktop
pywebview
py2app==0.28.8
setuptools==70.3.0
chardet
nuitka
